*.pyc
.DS_Store
.env
.env.local
.next/
.venv/
__pycache__/
_to_delete/
build/blockgroups.geojson
build/blockgroups_analyzed.geojson
node_modules/
raw/
tsconfig.tsbuildinfo
venv/

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
